h1, .h1, h2, .h2, {
    margin-top: 30px;
}

pre {
    border: 0px solid #cccccc;
    border-radius: 0px;
}

/*** fonts ***/

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v14-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v14-latin-600.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v14-latin-700.svg#\1') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v17-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans-v17-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v17-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v17-latin-600.svg#\1') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/noto-serif-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif'), local('NotoSerif'),
       url('fonts/noto-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/noto-serif-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/noto-serif-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/noto-serif-v8-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-serif-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
       url('fonts/noto-serif-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/noto-serif-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/noto-serif-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/noto-serif-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/noto-serif-v8-latin-700.svg#\1') format('svg'); /* Legacy iOS */
}

/*** color ***/

:root {
  --thl-orange:#ffb600;
  --thl-red:#fe3b1f;
}

.vl {
  border-left: 1px solid black;
  height: 20px;
  /*position: absolute;*/
  /*top: 50%;*/
  /*-ms-transform: translateY(-50%);*/
  transform: translateY(25%);
}

.block {
  display: inline-block
}

.date.container  {
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}

body{
  font-family:Open Sans,sans-serif;
  font-size:16px;
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  line-height:1.75;
  letter-spacing:normal;
}

/*** headings ***/

h1.title {
  margin-top: -40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
  font-family: "Montserrat";
  font-weight:600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--thl-orange);
}

h5.supertitle {
  margin-top: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  text-align: left;
  font-family: "Noto Serif";
  font-weight:400;
  font-size: 24px;
  font-style: italic;
  color: Black;
}

h5.subtitle {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  text-align: left;
  font-family: "Montserrat";
  font-style: regular;
  font-weight:400;
  font-size: 28px;
  color: Gray;
}

h5.author {
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
  font-family: "Open Sans";
  font-style: regular;
  font-weight:600;
  font-size: 15px;
  color: Black;
}

h5.date {
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
  font-family: "Montserrat";
  font-style: regular;
  font-weight:700;
  font-size: 16px;
  color: Black;
}

h1 {
  padding-top: 40px;
  text-align: left;
  font-family: "Montserrat";
  font-weight:700;
  font-size: 24px;
  text-transform: uppercase;
  color: Black;
}

h2 {
  text-align: left;
  font-family: "Montserrat";
  font-weight:700;
  font-size: 20px;
  color: Black;
}

h3 {
  text-align: left;
  font-family: "Montserrat";
  font-weight:700;
  font-size: 16px;
  color: Black;
}

h4 {
  text-align: left;
  font-family: "Noto Serif";
  font-weight:700;
  font-style: italic;
  font-size: 14px;
  color: Black;
}

/* set maximum numbered header level to 3 */
h4 > span, h5 > span, h6 > span, h7 > span, h8 > span, h9 > span, h10 > .header-section-number { display: none; }

/* ---------- Links ----------------- */
a {
  color: var(--thl-orange);
}
a:hover {
  color: var(--thl-orange);
}




/* ---------- TOC ----------------- */
#TOC {
  top: 20px;
  position: fixed;
  width: 210px;
}
.tocify {
  border: none;
  color: grey;
  border-radius: 0px;

}
.tocify-header {
  text-indent: initial;
  font-family: "Montserrat";
  font-weight:600;
  font-size: 14px;
  text-transform: uppercase;
}
.tocify-subheader {
  font-size: 13px;
}
.tocify-subheader[data-tag="3"] {
  padding-left: 25px;
}
.list-group-item {
}
.list-group-item.active {
    color: var(--thl-orange);
    background-color: white;
    border-left: solid;
    border-color: var(--thl-orange);
}
.list-group-item:hover {
    color: var(--thl-orange);
    background-color: white;
}
.tocify-extend-page {
  display: none;
}

.list-group-item.inactive:focus,
.list-group-item.active:focus,
.list-group-item.active:hover {
  color: white;
  background-color: var(--thl-orange);
  border-color: var(--thl-orange);
}

/* ------ This is just to fix the bug on Safari where table of content is on top of content */
.toc-content {
  margin-left: 250px
}

/* ------ Don't display on small media */
@media (max-width: 1400px) {
  #TOC {
    width: auto;
    display: top;
  }
  .toc-content {
    margin-left: auto
  }
}


/* ---------- Button ----------------- */
.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
    color: var(--thl-orange);
}
.btn-default {
    color: var(--thl-orange);
    background-color: #ffffff;
    border-color: #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: var(--thl-orange);
}

/* ---------- Tabs ----------------- */
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	color: black;
}

.nav-tabs > .open > a,
.nav-tabs > .open > a:hover,
.nav-tabs > .open > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	color: var(--thl-orange);
}

.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a {
	color: var(--thl-orange);
  font-weight: bold;
}

.nav-tabs > li.active > a:hover {
	color: white;
	background-color: var(--thl-orange);
	border-color: transparent;
}
